.cover-image {
  height: 200px;
  width: 140px;
  border-radius: 5px;
  background-size: cover;
}
.book-card-details {
  margin-left: 10px;
}
.fav-icon {
  height: 22px;
  width: 22px;
  margin: auto;
}
.white {
  color: white;
}
.red {
  color: red;
}
.fav-button {
  border-width: 0px;
  background-color: transparent;
}
