.footer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.icon {
  height: 35px;
  width: 35px;
  margin: 5px;
  color: white;
}

@media screen and (max-width: 768px) {
  .icon {
    height: 30px;
    width: 30px;
    padding: 5px;
  }
}
